.container {
    width: 30%;
    margin: 0 auto; 
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 40px;
    padding: 5px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    opacity: 70%;
    border: 0;
    transition: opacity, 0.3s;
    text-align: center;
}

.input:hover {
    opacity: 80%;
}

.input:focus {
    opacity: 90%;
    outline: none;
}

.button {
    width: 35%;
    height: 40px;
    border-radius: 20px;
    background-color: #010C3F;
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 90%;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
  
.shake {
    animation: shake 0.5s ease; /* Анимация встряхивания */
}